@font-face {
  font-family: 'Klavika Bold Bold';
  src: url('font/Klavika Bold Bold.otf');
  src: url('font/Klavika Bold Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('font/RobotoBold.ttf');
  src: url('font/RobotoBold.eot');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto Regular', 'Roboto';
  src: url('font/RobotoRegular.eot');
  src: url('font/RobotoRegular.ttf');
}

@font-face {
  font-family: 'KlavikaMedium-Plain';
  src: url('font/Klavika Medium Plain.otf');
}

@font-face {
  font-family: 'KlavikaRegular-Plain';
  src: url('font/Klavika Regular Plain');
}

@font-face {
  font-family: 'Klavika Light Plain';
  src: url('font/Klavika Light Plain.otf');
}

@font-face {
  font-family: 'Klavika Med Caps SCTF';
  src: url('font/Klavika Med Caps SCTF.otf');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

.button_white {
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 10px;
  border: 1pt solid white;
  background-color: transparent;
  border-radius: 18.53px;
}

.corner {
  position: absolute;
  left: 610px;
  bottom: -13px;
  z-index: 1000;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

/*header*/
.mainheader {
  height: 76px;
  background-color: #34495E;
  overflow: hidden;
}

.mainheader_logo {
  margin-left: 60px;
  margin-top: 20px;
  float: left;
}

.navigation {
  margin-top: 18px;
  margin-right: 55px;
  float: right;
}

.navigation__submit {
  font-family: Roboto;
  font-weight: bold;
  font-size: 13.89px;
  line-height: 16.66px;
  text-align: center;
  color: white;
  padding: 10px;
  border: 1pt solid white;
  background-color: transparent;
  border-radius: 18.53px;
}

.navigation__submit_style1 {
  width: 188px;
  margin-right: 26px;
}

.navigation__submit_style2 {
  width: 171px;
  margin-right: 31px;
}

.navigation__submit_style3,
.navigation__submit_style4 {
  border: none;
  margin-right: 10px;
}

.navigation__submit_style5 {
  width: 85px;
  border: none;
  background-color: #1489CA;
  border-radius: 19.22px;
  margin-left: 26px;
}

/*1st block*/
.block1 {
  clear: both;
  height: 560px;
  overflow: hidden;
  background-color: #E3FEFE;
  background-image: url('img/glassmanbg.svg');
  background-repeat: no-repeat;
}
/*trabl s shriftami!!!!*/
h1 {
  font-family: 'Klavika Bold Bold', Sans-serif;
  font-weight: bold;
  font-size: 42.18px;
  line-height: 50.61px;
  color: #3C53C8;
  margin: 56px 0 52px 50px;
}

.block1__count {
  font-family: 'KlavikaMedium-Plain', Sans-serif;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 22px 50px;
  color: #533465;
}

.block1__count>span {
  border: 1px solid #3C53C8;
  border-radius: 9.87px;
}

.block1__count+p {
  font-family: 'Klavika Regular Plain', Sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #533465;
  margin-left: 50px;
}

/*animation*/
.block1__imgMail {
  width: 25.3px;
  height: 25.3px;
  background-image: url('img/mail.svg');
  background-repeat: no-repeat;
  position: relative;
  top: -217px;
  left: 774px;
  animation-name: Enlargement;
  -moz-animation-name: Enlargement;
  -o-animation-name: Enlargement;
  -webkit-animation-name: Enlargement;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}


@keyframes Enlargement{
  0% {}
  50% {
        top:-220px;
        left:760px;
        transform: scale(2, 2);
        -webkit-transform: scale(2, 2);
        -o-transform: scale(2, 2); 
        -moz-transform: scale(2, 2);
      }
}

.block1__imgCloud {
  width: 244px;
  height: 215px;
  background-image: url('img/cloudwhithhands.svg');
  background-repeat: no-repeat;
  position: relative;
  top: -390px;
  left: 970px;
}
  
 /*2 block*/
 .block2 {
   height: 771px;
   background-color: #444E7F;
   padding-top: 63.82px;
   position: relative;
 }
 
 h2 {
   font-family: 'Klavika Bold Bold', Sans-serif;
   font-weight: bold;
   font-size: 50px;
   line-height: 60px;
   color: #18B8E2;
   text-align: center;
 }
 
 .block2__left,
 .block2__right {
   width: 610px;
   height: 580px;
 }
 
 .block2__left {
   float: left;
   background-image: url('img/agencyHouse.svg');
   background-repeat: no-repeat;
   background-size: 364.25px 388.23px;
   background-position: 50% 20%;
   -webkit-box-shadow: 181px -95px 0px -180.5px white;
   -moz-box-shadow: 181px -95px 0px -180.5px white;
   box-shadow: 181px -95px 0px -180.5px white;
   position: relative;
 }
 
 .block2__right {
   float: right;
   background-image: url('img/threeLancers.svg');
   background-repeat: no-repeat;
   background-size: 394.57px 330.36px;
   background-position: 38% 30%;
   position: relative;
 }
 
 .block2__left__button {
   width: 228.1px;
   font-size: 17.57px;
   line-height: 21.08px;
   position: absolute;
   top: 462px;
   left: 30%;
 }
 
 .block2__right__button{
   font-size: 17.57px;
   line-height: 21.08px;
   width: 228.1px;
   position: absolute;
   top: 462px;
   left: 27%
 }
 
 .block2__corner_color {
  background-color: #444E7F;
 }
 
 /*3 block*/
 .block3 {
   clear: both;
   position: relative;
   padding-top: 66.54px;
   height: 631.53px;
   background-color: #8D4B9C;
 }
 
 .block3>h2 {
   color: white;
   margin-bottom: 59px;
 }
 
 .block3__instruction {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }
 
 .block3__instruction>li {
   display: block;
   margin-right: 30px;
 }
 
 .block3__instruction>li:last-child {
   margin-right: 0;
 }
 
 .block3__instruction>li>p {
   color: white;
   font-family: Roboto;
   font-weight: bold;
   font-size: 20px;
   line-height: 24px;
 }
 
 .block3__instruction>li>p:first-child{
   text-align: center;
 }
 
 .block3__instruction>li>p:last-child {
   font-family: 'Roboto';
   font-weight: normal;
   font-size: 17px;
   line-height: 20.4px;
 }
 
 .block3__instruction>li>div {
   width: 162.95px;
   height: 163.01px;
   border-radius: 100px;
   background-color: #723780;
   margin: 34px auto 17.5px;
 }
 
 .block3__instruction__img1 {
   background-image: url('img/photo.svg');
   background-repeat: no-repeat;
   background-size: 104.5px 111.5px;
   background-position: 50% 40%;
 }
 
 .block3__instruction__img2 {
   background-image: url('img/brainPhoto.svg');
   background-repeat: no-repeat;
   background-size: 137px 104.9px;
   background-position: 50% 50%;
 }
 
 .block3__instruction__img3 {
   background-image: url('img/puzlePhoto.svg');
   background-repeat: no-repeat;
   background-size: 126.41px 126.41px;
   background-position: 50% 50%;
 }
 
 /*чето какая то херня с картинкой*/
 .block3__instruction__img4 {
   background-image: url('img/resumePhoto.svg');
   background-repeat: no-repeat;
   background-size: 150px 190px;
   background-position: 50% 50%;
 }
 
 .block3__instruction__img5 {
   background-image: url('img/handsPhoto.svg');
   background-repeat: no-repeat;
   background-size: 149.44px 102.89px;
   background-position: 50% 50%;
 }
 
 .block3__corner_color {
   background-color: #8D4B9C;
 }
 
 /*new block project help*/
 .blockSpecialization {
   height: 844.5px;
   background-color: #B6E1E3;
   overflow: hidden;
 }
 
 .blockSpecialization>h2 {
   margin-top: 60.35px;
   margin-bottom: 12px;
   color: #0A4064;
 }
 
 .blockSpecialization>h3 {
   font-family: 'Klavika Regular Plain', Sans-serif;
   font-size: 25px;
   line-height: 30px;
   color: #0A4064;
   text-align: center;
   margin-bottom: 13px;
 }
 
 .blockSpecialization__desk {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }
 
 .blockSpecialization__desk__column:nth-child(2) {
   margin: 0 38.853px 0;
 }
 
 .blockSpecialization__desk__column>div {
   height: 28.464px;
   width: 11.584px;
   margin: 0 auto;
   background-image: url('img/forlist.svg');
   background-repeat: no-repeat;
 }
 
 .blockSpecialization__desk__column__list {
   width: 360.19px;
   height: 526.537px;
   background-color: white;
   border-radius: 9.47px;
   padding-top: 52.031px;
   list-style-type: none;
   box-sizing: border-box;
 }
 
 .blockSpecialization__desk__column__list>li {
   padding-left: 27.652px;
   font-family: 'Klavika Light Plain';
   font-size: 22.56px;
   line-height: 33.85px;
   color: #0A4064;
 }
 
 .blockSpecialization__desk__column__list>li:nth-child(odd) {
   background-color: #E8F5F6;
 }
 
 /*block Searh*/
 .block__search {
   height: 1335px;
   background-color: #007090;
   padding-top: 58.8px;
 }
 
 .block__search>h2 {
   color: white;
   margin: 0;
 }
 
 .block__search__form {
   margin: 46px auto 0px;
   width: 1152px;
   height: 112px;
 }
 
 .block__search__form>button {
   font-family: 'Klavika Regular Plain', Sans-serif;
   font-size: 15px;
   line-height: 18px;
   font-weight: normal;
   padding: 3.5px;
   border: 2px solid white;
   width: 128.447px;
   height: 43px;
   margin: 0px 0 20px 13.5px;
   box-sizing: border-box;
   border-radius: 21.41px;
   float: left;
 }
 
 .block__search__form>button:nth-child(1),
 .block__search__form>button:nth-child(2) {
   font-family: 'klavika Bold Bold';
   font-weight: bold;
 }
 
 .block__search__form>button:nth-child(10),
 .block__search__form>button:nth-child(11),
 .block__search__form>button:nth-child(12),
 .block__search__form>button:nth-child(13),
 .block__search__form>button:nth-child(14),
 .block__search__form>button:nth-child(15),
 .block__search__form>button:nth-child(16) {
   font-family: 'KlavikaMedium-Plain';
 }
 
 .block__search__form>button:active {
   background-color: white;
   color: #0A4064;
 }
 
 .search__button_active {
   background-color: white;
   color: #0A4064;
 }
 
 .block__viewResult {
   clear: both;
   margin-top: 55px;
 }
 
 .block__result {
   width: 1161.43px;
   margin: 0 auto;
   margin-bottom: 50px;
 }
 
 .block__result>ul {
   height: 60.64px;
   display: flex;
   flex-direction: row;
   align-items: center;
   list-style-type: none;
   background-color: #0A4064;
 }
 
 /*шрифт не подходит надо гдет найти тоньш*/
 .block__result__accPlaner {
   display: block;
   font-family: 'Klavika Med Caps SCTF';
   font-size: 30px;
   line-height: 36px;
   color: #18C1E3;
   padding-left: 34px;
 }
 
 .block__result__date,
 .block__result__link,
 .block__result__link>a,
 .block__result__experience {
   font-family: 'KlavikaRegular-Plain', Sans-serif;
   font-size: 20px;
   line-height: 24px;
   color: #18C1E3;
 }
 
 .block__result__experience { 
   margin: 0 119px 0 201px;
 }
 
 .block__result__date {
   margin-right: 105.17px;
   position: relative;
 }
 
 .block__result__date_img {
   width: 28px;
   height: 28px;
   background-image: url('img/date.svg');
   background-repeat: no-repeat;
   position: absolute;
   left: -39px;
   top: -3px;
 }
 
 .block__result__link {
   position: relative;
 }
 
 .block__result__link_img {
   width: 23.17px;
   height: 23.17px;
   background-image: url('img/linkimg.svg');
   background-repeat: no-repeat;
   position: absolute;
   left: -30.17px;
   bottom: -1px;
 }
 
 .block__result__link>a {
   text-decoration: none;
 }
 
 .block__result>header {
   min-height: 124.35px;
   background-color: #388DCB;
 }
 
 .block__result>header>h3 {
   font-family: 'Klavika Regular Plain', Sans-serif;
   font-size: 30px;
   line-height: 36px;
   color: white;
   padding: 20px 34px 20px 34px;
 }
 
 .nameCompany {
   color: #0A4064;
   background-color: #F7C9C9;
   font-family: 'Klavika Med Caps SCTF';
 }
 
 .nameSpecialization {
   color: #18C1E3;
 }
 
 .block__result>footer {
   height: 81.71px;
   background-color: white;
   position: relative;
 }
 
 .block__result>footer>p {
   display: inline-block;
   font-family: 'Klavika Light Plain';
   font-size: 25px;
   line-height: 30px;
   margin: 32px 35px 0;
   color: #0A4064;
 }
 
 .userSkill {
   color: #388DCB;
 }
 
 .block__result>footer>button {
   position: absolute;
   color: #18C1E3;
   font-family: 'Klavika Bold Bold';
   font-weight: bold;
   font-size: 32.13px;
   line-height: 38.55px;
   background-color: #0A4064;
   width: 213.43px;
   height: 63.35px;
   border-radius: 12px;
   vertical-align: middle;
   right: 31px;
   top: 7px;
   box-shadow: none;
 }
 
 .block__LoadMore {
   width: 134px;
   margin: 20px auto 0;
 }
 
 .LoadMore {
   font-family: 'Klavika Bold Bold';
   font-weight: bold;
   font-size: 27px;
   line-height: 36px;
   color: white;
   text-align: center;
   text-decoration: none;
 }
 
 /*Footer*/
 .aFoot {
   min-height: 133px;
   background-color: #2E4054;
 }
 
 .aFoot>span {
   margin-top: 20.05px;
   margin-left: 66.3px;
   display: inline-block;
 }
 
 .social {
   display: inline-block;
   width: 32px;
   height: 32px;
 }
 
 .aFoot_fb {
   background-image: url('img/fb.svg');
   background-repeat: no-repeat:
 }
 
 .aFoot_tw {
   background-image: url('img/tw.svg');
   background-repeat: no-repeat;
   margin: 0 16.28px 0;
 }
 
 .aFoot_yt {
   background-image: url('img/YT.svg');
   background-repeat: no-repeat;
   margin-right: 52.53px;
 }
 
 .aFoot__link {
   font-family: 'Roboto';
   font-weight: bold;
   font-size: 19.67px;
   line-height: 23.61px;
   text-decoration: none;
   color: white;
 }
 
 .aFoot>span>a:nth-child(5) {
   margin: 0 70px 0;
 }
 
 .aFoot>span>a:nth-child(7) {
   margin: 0 70px 0;
 }
 
 .aFoot>div {
   height: 61.41px;
   width: 126.68px;
   background-image: url('img/footerLogo.svg');
   background-repeat: no-repeat;
   margin: 15.65px auto 0;
 }