@font-face {
  font-family: 'Klavika Bold Bold';
  src: url('font/Klavika Bold Bold.otf');
  src: url('font/Klavika Bold Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('font/RobotoBold.ttf');
  src: url('font/RobotoBold.eot');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto Regular', 'Roboto';
  src: url('font/RobotoRegular.eot');
  src: url('font/RobotoRegular.ttf');
}

@font-face {
  font-family: 'KlavikaMedium-Plain';
  src: url('font/Klavika Medium Plain.otf');
}

@font-face {
  font-family: 'KlavikaRegular-Plain';
  src: url('font/Klavika Regular Plain');
}

@font-face {
  font-family: 'Klavika Light Plain';
  src: url('font/Klavika Light Plain.otf');
}

@font-face {
  font-family: 'Klavika Med Caps SCTF';
  src: url('font/Klavika Med Caps SCTF.otf');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button_white {
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 5px;
  border: 1pt solid white;
  background-color: transparent;
  border-radius: 18.53px;
}

.corner {
  position: absolute;
  left: 48.5%;
  bottom: -7px;
  z-index: 1000;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

body {
  min-width: 320px;
}

/*header*/
.mainheader {
  height: 76px;
  background-color: #34495E;
  padding-top: 20px;
  position: relative;
}

.mainheader_logo {
  margin: 0 auto;
  padding-left: 40%;
  
}

.mainheader_logo>img {
  z-index: 50;
}

.navigation__menuImage {
  height: 45px;
  width: 30px;
  margin-left: 40px;
  background: transparent;
  z-index: 1;
}

.navigation__menuImage>a {
  display: block;
  width: 25px;
  height: 20px;
  background-image: url('img/menuIcon.svg');
  background-repeat: no-repeat;
  background-size: 25px 20px;
}
  
.navigation {
  position: absolute;
  bottom: 0px;
  background-color: #34495E;
}

.navigation__submit {
  border: none;
  font-family: Roboto;
  font-weight: bold;
  font-size: 13.89px;
  line-height: 16.66px;
  text-align: center;
  background-color: #34495E;
  color: white;
  width: 200px;
  padding: 10px;
  display: block;
  margin: 2px auto;
  border-radius: 18.53px;
  
}

.test {
  display: none;
}

.navigation__submit_style5 {
  border: none;
  background-color: #1489CA;
}

.navigation__menuImage:hover >.test {
  display: block;
}

.navigation__submit:hover {
  background-color: #445D72;
}

/*1st block*/
.block1 {
  padding: 20px 0;
  min-height: 560px;
  background-color: #E3FEFE;
  display: flex;
  flex-direction: column;
}

.block1__contentLeft {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

/*trabl s shriftami!!!!*/
.block1__contentLeft>h1 {
  font-family: 'Klavika Bold Bold';
  font-weight: bold;
  font-size: 42.18px, 50%;
  line-height: 50.61px, 50%;
  color: #3C53C8;
  margin-bottom: 25px;
}

.block1__count {
  font-family: 'KlavikaMedium-Plain', Sans-serif;
  font-size: 30px, 50%;
  line-height: 36px, 50%;
  margin-bottom: 12px;
  color: #533465;
}

.block1__count>span {
  border: 1px solid #3C53C8;
  border-radius: 9.87px;
}

.block1__count+p {
  font-family: 'Klavika Regular Plain', Sans-serif;
  font-size: 30px, 50%;
  line-height: 36px, 50%;
  color: #533465;
}

.block1__contentRight {
  width: 300px;
  height: auto;
  margin: 0 auto;
  position: relative;
  background: transparent;
  margin-top: 25px;
}

.block1__imgGlassMan {
  width: 200px;
  height: 200px;
  position: relative;
  background-image: url('img/glassman.svg');
  background-repeat: no-repeat;
  margin-top: 84px;
}

/*animation*/
.block1__imgMail {
  width: 20px;
  height: 20px;
  background-image: url('img/mail.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  left: 30px;
  animation-name: Enlargement;
  -moz-animation-name: Enlargement;
  -o-animation-name: Enlargement;
  -webkit-animation-name: Enlargement;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}


@keyframes Enlargement{
  0% {}
  50% {
        top:60px;
        left:30px;
        transform: scale(2, 2);
        -webkit-transform: scale(2, 2);
        -o-transform: scale(2, 2); 
        -moz-transform: scale(2, 2);
      }
}

.block1__imgCloud {
  width: 140px;
  height: 120px;
  background-image: url('img/cloudwhithhands.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  left: 150px;
}

.block1__imgDeskNRope {
  width: 220px;
  height: 90px;
  background-image: url('img/deskAndRope.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 40px;
}
  
 /*2 block*/
 .block2 {
   height: auto;
   background-color: #444E7F;
   padding-top: 30px;
   position: relative;
 }
 
 h2 {
   font-family: 'Klavika Bold Bold', Sans-serif;
   font-weight: bold;
   font-size: 50px, 50%;
   line-height: 60px, 50%;
   color: #18B8E2;
   text-align: center;
 }
 
 .block2__wrapImg {
   display: flex;
   flex-direction: column;
 }
 
 .block2__left,
 .block2__right {
   width: 300px;
   height: 260px;
   margin: 10px auto;
 }
 
 .block2__left {
   background-image: url('img/agencyHouse.svg');
   background-repeat: no-repeat;
   background-size: 182px 199px;
   background-position: 50% 5%;
   position: relative;
   box-shadow: 0px 36px 0px -35.5px  white;
 }
 
 .block2__right {
   background-image: url('img/threeLancers.svg');
   background-repeat: no-repeat;
   background-size: 197px 165px;
   background-position: 50% 5%;
   position: relative;
 }
 
 .block2__left__button {
   width: 158px;
   font-size: 17.57px, 50%;
   line-height: 21.08px, 50%;
   position: absolute;
   top: 212px;
   left: 23%;
 }
 
 .block2__right__button{
   font-size: 17.57px, 50%;
   line-height: 21.08px, 50%;
   width: 158px;
   position: absolute;
   top: 210px;
   left: 23%
 }
 
 .block2__corner_color {
  background-color: #444E7F;
 }
 
 /*3 block*/
 .block3 {
   position: relative;
   padding-top: 35px;
   height: auto;
   background-color: #8D4B9C;
 }
 
 .block3>h2 {
   color: white;
   margin-bottom: 25px;
 }
 
 .block3__instruction {
   display: flex;
   flex-direction: column;
 }
 
 .block3__instruction>li {
   display: block;
   margin: 35px auto;
 }
 
 .block3__instruction>li>p {
   color: white;
   font-family: Roboto;
   font-weight: bold;
   font-size: 18px;
   line-height: 24px;
 }
 
 .block3__instruction>li>p:first-child{
   text-align: center;
 }
 
 .block3__instruction>li>p:last-child {
   font-family: 'Roboto';
   font-weight: normal;
   font-size: 17px;
   line-height: 20.4px;
 }
 
 .block3__instruction>li>div {
   width: 162.95px;
   height: 163.01px;
   border-radius: 100px;
   background-color: #723780;
   margin: 15px auto 5px;
 }
 
 .block3__instruction__img1 {
   background-image: url('img/photo.svg');
   background-repeat: no-repeat;
   background-size: 104.5px 111.5px;
   background-position: 50% 40%;
 }
 
 .block3__instruction__img2 {
   background-image: url('img/brainPhoto.svg');
   background-repeat: no-repeat;
   background-size: 137px 104.9px;
   background-position: 50% 50%;
 }
 
 .block3__instruction__img3 {
   background-image: url('img/puzlePhoto.svg');
   background-repeat: no-repeat;
   background-size: 126.41px 126.41px;
   background-position: 50% 50%;
 }
 
 /*чето какая то херня с картинкой*/
 .block3__instruction__img4 {
   background-image: url('img/resumePhoto.svg');
   background-repeat: no-repeat;
   background-size: 150px 190px;
   background-position: 50% 50%;
 }
 
 .block3__instruction__img5 {
   background-image: url('img/handsPhoto.svg');
   background-repeat: no-repeat;
   background-size: 149.44px 102.89px;
   background-position: 50% 50%;
 }
 
 .block3__corner_color {
   background-color: #8D4B9C;
 }
 
 /*new block project help*/
 .blockSpecialization {
   height: auto;
   background-color: #B6E1E3;
   padding-top: 35px;
 }
 
 .blockSpecialization>h2 {
   margin-bottom: 12px;
   color: #0A4064;
 }
 
 .blockSpecialization>h3 {
   font-family: 'Klavika Regular Plain', Sans-serif;
   font-size: 25px, 50%;
   line-height: 30px, 50%;
   color: #0A4064;
   text-align: center;
   margin-bottom: 13px;
 }
 
 .blockSpecialization__desk {
   display: flex;
   flex-direction: column;
 }
 
 .blockSpecialization__desk__column>div {
   height: 18px;
   width: 8px;
   margin: 0 auto;
   background-image: url('img/forlist.svg');
   background-repeat: no-repeat;
 }
 
 .blockSpecialization__desk__column__list {
   width: 300px;
   height: 280px;
   background-color: white;
   border-radius: 9.47px;
   padding-top: 30px;
   list-style-type: none;
   box-sizing: border-box;
   margin: 0 auto 20px;
 }
 
 .blockSpecialization__desk__column__list>li {
   padding-left: 27.652px;
   font-family: 'Klavika Light Plain';
   font-size: 22.56px, 50%;
   line-height: 33.85px, 100%;
   color: #0A4064;
 }
 
 .blockSpecialization__desk__column__list>li:nth-child(odd) {
   background-color: #E8F5F6;
 }
 
 /*block Searh*/
 .block__search {
   height: auto;
   background-color: #007090;
   padding-top: 40px;
 }
 
 .block__search>h2 {
   color: white;
 }
 
 .block__search__form {
   width: 300px;
   height: 320px;
   margin: 23px auto 0px;
 }
 
 .block__search__form>button {
   font-family: 'Klavika Regular Plain', Sans-serif;
   font-size: 15px, 50%;
   line-height: 18px, 50%;
   font-weight: normal;
   padding: 2px;
   border: 1px solid white;
   width: 128.447px;
   height: 35px;
   margin: 0px 0 5px 10px;
   box-sizing: border-box;
   border-radius: 21.41px;
   float: left;
 }
 
 .block__search__form>button:nth-child(1),
 .block__search__form>button:nth-child(2) {
   font-family: 'klavika Bold Bold';
   font-weight: bold;
 }
 
 .block__search__form>button:nth-child(10),
 .block__search__form>button:nth-child(11),
 .block__search__form>button:nth-child(12),
 .block__search__form>button:nth-child(13),
 .block__search__form>button:nth-child(14),
 .block__search__form>button:nth-child(15),
 .block__search__form>button:nth-child(16) {
   font-family: 'KlavikaMedium-Plain';
 }
 
 .block__search__form>button:active {
   background-color: white;
   color: #0A4064;
 }
 
 .search__button_active {
   background-color: white;
   color: #0A4064;
 }
 
 .block__viewResult {
   clear: both;
   margin-top: 55px;
 }
 
 .block__result {
   width: 300;
   height: auto;
   margin: 0 auto;
   margin-bottom: 30px;
 }
 
 .block__result>ul {
   height: auto;
   display: flex;
   flex-direction: column;
   list-style-type: none;
   background-color: #0A4064;
 }
 
 .block__result>ul>li {
   padding-left: 34px;
 }
 
 /*шрифт не подходит надо гдет найти тоньш*/
 .block__result__accPlaner {
   display: block;
   font-family: 'Klavika Med Caps SCTF';
   font-size: 30px, 50%;
   line-height: 36px, 50%;
   color: #18C1E3;
 }
 
 .block__result__date,
 .block__result__link,
 .block__result__link>a,
 .block__result__experience {
   font-family: 'KlavikaRegular-Plain', Sans-serif;
   font-size: 20px, 50%;
   line-height: 24px, 50%;
   color: #18C1E3;
 }
 
 .block__result__date {
   position: relative;
 }
 
 .block__result__date_img {
   width: 14px;
   height: 14px;
   background-image: url('img/date.svg');
   background-repeat: no-repeat;
   position: absolute;
   left: 10px;
   top: 0px;
 }
 
 .block__result__date_time {
  
 }
 
 .block__result__link {
   position: relative;
 }
 
 .block__result__link_img {
   width: 12px;
   height: 12px;
   background-image: url('img/linkimg.svg');
   background-repeat: no-repeat;
   position: absolute;
   left: 10px;
   bottom: 4px;
 }
 
 .block__result__link>a {
   text-decoration: none;
 }
 
 .block__result>header {
   min-height: 124.35px, 50%;
   background-color: #388DCB;
 }
 
 .block__result>header>h3 {
   font-family: 'Klavika Regular Plain', Sans-serif;
   font-size: 30px, 50%;
   line-height: 36px, 50%;
   color: white;
   padding: 10px 24px ;
 }
 
 .nameCompany {
   color: #0A4064;
   background-color: #F7C9C9;
   font-family: 'Klavika Med Caps SCTF';
 }
 
 .nameSpecialization {
   color: #18C1E3;
 }
 
 .block__result>footer {
   height: auto;
   background-color: white;
   position: relative;
 }
 
 .block__result>footer>p {
   display: inline-block;
   font-family: 'Klavika Light Plain';
   font-size: 25px, 50%;
   line-height: 30px, 50%;
   margin: 10px 5px 5px;
   color: #0A4064;
 }
 
 .userSkill {
   color: #388DCB;
 }
 
 .block__result>footer>button {
   position: absolute;
   color: #18C1E3;
   font-family: 'Klavika Bold Bold';
   font-weight: bold;
   font-size: 32.13px, 50%;
   line-height: 38.55px, 50%;
   background-color: #0A4064;
   width: 60px;
   height: 21px;
   border-radius: 12px;
   vertical-align: middle;
   right: 6px;
   top: 25px;
   box-shadow: none;
 }
 
 .block__LoadMore {
   width: 72px;
   margin: 20px auto 0;
 }
 
 .LoadMore {
   font-family: 'Klavika Bold Bold';
   font-weight: bold;
   font-size: 27px, 50%;
   line-height: 36px, 50%;
   color: white;
   text-align: center;
   text-decoration: none;
 }
 
 /*Footer*/
 /*.aFoot {
   min-height: 133px;
   background-color: #2E4054;
 }
 
 .aFoot>span {
   margin-top: 20.05px;
   margin-left: 66.3px;
   display: inline-block;
 }
 
 .social {
   display: inline-block;
   width: 32px;
   height: 32px;
 }
 
 .aFoot_fb {
   background-image: url('img/fb.svg');
   background-repeat: no-repeat:
 }
 
 .aFoot_tw {
   background-image: url('img/tw.svg');
   background-repeat: no-repeat;
   margin: 0 16.28px 0;
 }
 
 .aFoot_yt {
   background-image: url('img/YT.svg');
   background-repeat: no-repeat;
   margin-right: 52.53px;
 }
 
 .aFoot__link {
   font-family: 'Roboto';
   font-weight: bold;
   font-size: 19.67px;
   line-height: 23.61px;
   text-decoration: none;
   color: white;
 }
 
 .aFoot>span>a:nth-child(5) {
   margin: 0 70px 0;
 }
 
 .aFoot>span>a:nth-child(7) {
   margin: 0 70px 0;
 }
 
 .aFoot>div {
   height: 61.41px;
   width: 126.68px;
   background-image: url('img/footerLogo.svg');
   background-repeat: no-repeat;
   margin: 15.65px auto 0;
 }
